@tailwind base;
@tailwind components;
@tailwind utilities;

/* app/globals.css */
@import 'aos/dist/aos.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
   @apply bg-background;
   font-family: var(--font-playfair), serif;
}